<div class="container">
  <div class="row mb-5 mt-1" *ngFor="let entry of movieList">
    <div class="col-8">
<ul>
  <li>
    <h1>{{entry.title | uppercase}}</h1>
    <ul>
      <li>
        <h3>Year Released: {{entry.yearReleased}}</h3>
      </li>
      <li>
        <h3>Starring: {{entry.actors}}</h3>
      </li>
      <li>
        <h3>Directed by: {{entry.director}}</h3>
      </li>
      <li>
        <p>Genre(s): {{entry.genre}}</p>
      </li>
      <li>
        <p *ngIf="entry.rating === 'G'"><span class="G">Rating: {{entry.rating}} – General Audiences<br>All ages admitted. Nothing that would offend parents for viewing by children.</span></p>
        <p *ngIf="entry.rating === 'PG'"><span class="PG">Rating: {{entry.rating}} – Parental Guidance Suggested<br>Some material may not be suitable for children. Parents urged to give "parental guidance". May contain some material parents might not like for their young children.</span></p>
        <p *ngIf="entry.rating === 'PG-13'"><span class="PG13">Rating: {{entry.rating}} – Parents Strongly Cautioned<br>Some material may be inappropriate for children under 13. Parents are urged to be cautious. Some material may be inappropriate for pre-teenagers.</span></p>
        <p *ngIf="entry.rating === 'R'"><span class="R">Rating: {{entry.rating}} – Restricted<br>Under 17 requires accompanying parent or adult guardian. Contains some adult material. Parents are urged to learn more about the film before taking their young children with them.</span></p>
        <p *ngIf="entry.rating === 'NC-17'"><span class="NC17">Rating: {{entry.rating}} – Adults Only<br>No One 17 and Under Admitted. Clearly adult. Children are not admitted.</span></p>
        <p *ngIf="entry.rating === 'NR'"><span class="NR">Rating: {{entry.rating}} – Not Rated<br>The uncut version of the film contains content that differs from the theatrical release and might not be suitable for minors.</span></p>

      </li>
      <li>
        <h3>Awards:</h3>
        <ul>
          <li *ngFor="let Award of entry.awards">
            <p *ngIf="Award.type===true; else nominee"> Winner of {{Award.award}} for {{Award.category}} in {{Award.year}}</p>
            <ng-template #nominee><p> Nominated for {{Award.award}} for {{Award.category}} in {{Award.year}}</p></ng-template>

          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
    </div>

    <div class="col-4">
      <div>
        <img [src]="entry.img" class="img-fluid">
      </div>
    </div>
  </div>


</div>
