<div><h1 class="text-center">Binding</h1></div>

<div class="text-center m-2"><button (click)="showHideForm()" class="btn btn-info btn-outline-warning btn-sm" >
  <i [ngClass]="enableAddUser ? 'fa fa-minus' : 'fa fa-plus'"></i> &nbsp; Add Character Form: &nbsp; <i [ngClass]="enableAddUser ? 'fa fa-minus' : 'fa fa-plus'"></i></button>
</div>

<form action="" class="p-2 m-2" #characterForm="ngForm">
<!--  The variable characterForm in our template will point to our instance of the ngForm directive
one of the things the ngForm directive does is create a top-level FormGroup and lets us call functions as if it was an instance of a FormGroup-->
  <div class="row" *ngIf="enableAddUser">
    <div class="col-6 left text-right">
      <h4 class="font-weight-bold">SuperHero Name/Persona: <input
        [(ngModel)]="character.persona"
        [ngClass]="{'is-invalid': characterPersona.errors && characterPersona.touched}"
        type="text" id="input-persona"
        name="input-persona"
        class="form-control"
        #characterPersona = "ngModel"
        required
        minlength="2"
      ></h4>
<!--      special input #characterPersona = ngModel (shortcut for characterForm.persona)
ngClass is-invalid (name of our class) ,errors = if there's an error .touched = if user clicked it-->
      <div [hidden]="characterPersona.errors?.required" class="invalid-feedback">
        Must be at least 2 characters
      </div>

      <h4 class="font-weight-bold">Last name: <input [(ngModel)]="character.lastName" type="text" id="input-lastName" name="input-persona" class="form-control"></h4>
      <h4 class="font-weight-bold">Active?: <input [disabled]="true" type="checkbox" name="input-active" id="input-active"></h4>
    </div>
    <div class="col-6 right text-right">
      <h4 class="font-weight-bold">First Name: <input [(ngModel)]="character.firstName" type="text" name="input-firstName" id="input-firstName" class="form-control"></h4>
      <h4 class="font-weight-bold">Age: <input [(ngModel)]="character.age" type="number" id="input-age" name="input-age" class="form-control"></h4>
      <p>Balance: <input [disabled]="true" type="number" id="input-balance" name="input-balance" class="form-control"></p>
    </div>
  </div>
  <div class="row" *ngIf="enableAddUser">
    <div class="col-12 text-left">
      <p>Address:</p>
<!--      <p>Street: <input type="text" [(ngModel)]="character.address.street" id="input-street" name="input-street" class="form-control"></p>-->
<!--      <p>City: <input type="text" [(ngModel)]="character.address.city" id="input-city" name="input-city"  class="form-control"></p>-->
<!--      <p>State: <input type="text" [(ngModel)]="character.address.state" id="input-state" name="input-state" class="form-control"></p>-->
    </div>
  </div>


</form>
<!--updated button
if not characterForm.form.valid ?
button is disabled
any rules/validations that we applied are not met, button will remain disabled-->
<!--<div class="text-center m-2" *ngIf="enableAddUser"><button (click)="addCharacter($event)" class="btn-outline-dark btn-success btn-lg" [disabled]="!characterForm.form.valid">SUBMIT</button></div>-->
<div class="text-center m-2" ><button (click)="addCharacter($event)" class="btn-outline-dark btn-success btn-lg">SUBMIT</button></div>


<div class="container">

  <ul class="list-unsorted">
    <li class="card card-body mb-3" *ngFor="let character of characters" [class.bg-info]="character.isActive">

      <div class="row">
        <div class="col-sm-4">
          <img class="img-fluid" [src]="character.img" alt="">
        </div>
        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle"> {{character.persona | uppercase}}

            <button (click)="toggleInfo(character)" class="btn btn-primary btn-sm" ><i [ngClass]="character.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button>

          </h1>
          <h3 [ngStyle]="currentStyle" > {{character.firstName}} {{character.lastName}}
            <button (click)="lodsofemone(character)" class="btn btn-success btn-sm">L O D S OF E M O N E</button>
          </h3>

          <ul class="list-group" *ngIf="character.hide">
            <li class="list-group-item">Age: {{character.age}}</li>
            <li class="list-group-item">Address: {{character.address.street}}, {{character.address.city}}, {{character.address.state}}</li>
            <div>
              <li class="list-group-item" *ngIf="character.balance">Balance: {{character.balance | currency}}</li>


              <li class="list-group-item" *ngIf="character.memberSince">Member Since:{{character.memberSince | date: 'MM/dd/yyyy'}}</li>


            </div>

          </ul>
        </div>

      </div>

    </li>
  </ul>

</div>


