<h1>Welcome</h1>
<h3>This is my angular homepage</h3>

<button class="btn btn-secondary" routerLink="/characters">Character Section</button>
<button class="btn btn-dark" routerLink="/movies">Movies Section</button>
<button class="btn btn-danger" routerLink="/posts">Posts Section</button>
