<div class="container">
  <div class="row" *ngFor="let x of bands">
    <div class="col-12 text-center band-div">
      <h1 class="bandTitle">{{ x.name }}</h1>
    </div>

    <div class="col-auto year-div">
      <h3>Year Established: {{x.yearEstablished}}</h3>
    </div>

    <div class="col-auto vocalist-div">
      <h3>Vocalist: {{x.vocalist}}</h3>
      <h3 *ngIf="x.vocalist2 !== undefined; else empty">Vocalist 2: {{x.vocalist2}}</h3>
      <h3 *ngIf="x.vocalist3 !== undefined; else empty">Vocalist 3: {{x.vocalist3}}</h3>
    </div>

    <div class="col-auto guitarist-div">
      <h3 *ngIf="x.guitarist !== undefined; else empty">Guitarist: {{x.guitarist}}</h3>
      <h3 *ngIf="x.guitarist2 !== undefined; else empty">Guitarist 2: {{x.guitarist2}}</h3>
      <h3 *ngIf="x.guitarist3 !== undefined; else empty">Guitarist 3: {{x.guitarist3}}</h3>
    </div>

    <div class="col-auto bass-div">
      <h3>Bass Guitar: {{x.bass}}</h3>
    </div>

    <div class="col-auto drummer-div">
      <h3>Drummer: {{x.drums}}</h3>
    </div>

    <div class="col-auto keyboard-div">
      <h3 *ngIf="x.keyboard !== undefined; else empty">Keyboard: {{x.keyboard}}</h3>
      <h3 *ngIf="x.keyboard2 !== undefined; else empty">Keyboard 2: {{x.keyboard2}}</h3>
      <h3 *ngIf="x.keyboard3 !== undefined; else empty">Keyboard 3: {{x.keyboard3}}</h3>
    </div>

    <div class="col-auto synth-div">
      <h3 *ngIf="x.synth !== undefined; else empty"> Synth: {{x.synth}}</h3>
      <h3 *ngIf="x.synth2 !== undefined; else empty">Synth 2: {{x.synth2}}</h3>
      <h3 *ngIf="x.synth3 !== undefined; else empty">Synth 3: {{x.synth3}}</h3>
    </div>

    <div class="col-auto sax-div">
      <h3 *ngIf="x.saxophone !== undefined; else empty"> Saxophone: {{x.saxophone}}</h3>
    </div>

    <div class="col-auto rhGuitar-div">
      <h3 *ngIf="x.rhythmGuitar !== undefined; else empty">Rhythm Guitar: {{x.rhythmGuitar}}</h3>
      <h3 *ngIf="x.rhythmGuitar2 !== undefined; else empty">Rhythm Guitar 2: {{x.rhythmGuitar2}}</h3>
    </div>
    <div class="col-12"></div>

    <div class="col-4">
      <h3>Album: {{x.albums[0].name}}</h3>
      <h3>Year: {{x.albums[0].year}}</h3>
    </div>

    <div class="col-4">
      <h3>Album: {{x.albums[1].name}}</h3>
      <h3>Year: {{x.albums[1].year}}</h3>
    </div>

    <div class="col-4">
      <h3>Album: {{x.albums[2].name}}</h3>
      <h3>Year: {{x.albums[2].year}}</h3>
    </div>

<!--    <div *ngFor="let i of x.albums">-->
<!--      <div class="col-4">-->
<!--        <h3>Album: {{i.name}} Year: {{i.year}}</h3>-->
<!--      </div>-->
<!--    </div>-->

      <ng-template #empty><h3></h3></ng-template>
  </div>

  <div class="card bg-success">
    <div class="card-header text-center">
      <button (click)="showForm()">
        <i [ngClass]="toggler ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
        &nbsp; Add new band &nbsp;
        <i [ngClass]="toggler ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
      </button>
    </div>
    <div *ngIf="toggler">

      <div class="col-12 text-center mt-2">
          <button (click)="addNewBand(theForm)" class="btn btn-info btn-outline-warning" [disabled]="!theForm.valid" [ngClass]="!theForm.valid ? 'btn btn-dark btn-outline-warning' : 'btn btn-info btn-outline-warning'">button</button>
      </div>

        <form #theForm="ngForm" (ngSubmit)="addNewBand(theForm)">
          <div class="row p-2">

            <div class="col-auto">
              <h3>Band Name: <input name="1" type="text" class="form-control" required #bandName="ngModel" [(ngModel)]="newBand.name" [ngClass]="{'is-invalid': bandName.errors}"></h3>
              <div class="invalid-feedback">Band name required</div>
            </div>

            <div class="col-auto">
              <h3>Year Established: <input name="2" type="number" class="form-control" required #year="ngModel" [(ngModel)]="newBand.yearEstablished" [ngClass]="{'is-invalid': year.errors}"></h3>
              <div [hidden]="year.errors" class="invalid-feedback">Year established required</div>
            </div>

              <div class="col-auto">
                <h3>Vocalist: <input name="3" type="text" class="form-control" #vocalist1="ngModel" [(ngModel)]="newBand.vocalist"></h3>
                <h3>Vocalist 2: <input name="28" type="text" class="form-control" #vocalist2="ngModel" [(ngModel)]="newBand.vocalist2"></h3>
                <h3>Vocalist 3: <input name="29" type="text" class="form-control" #vocalist3="ngModel" [(ngModel)]="newBand.vocalist3"></h3>
              </div>

              <div class="col-auto">
                <h3>Guitarist: <input name="4" type="text" class="form-control" #guitarist1="ngModel" [(ngModel)]="newBand.guitarist"></h3>
                <h3>Guitarist 2: <input name="5" type="text" class="form-control" #guitarist2="ngModel" [(ngModel)]="newBand.guitarist2"></h3>
                <h3>Guitarist 3: <input name="6" type="text" class="form-control" #guitarist3="ngModel" [(ngModel)]="newBand.guitarist3"></h3>
              </div>

              <div class="col-auto">
                <h3>Bassist: <input name="7" type="text" class="form-control"#bassist1="ngModel" [(ngModel)]="newBand.bass"></h3>
                <h3>Bassist 2: <input name="8" type="text" class="form-control"#bassist2="ngModel" [(ngModel)]="newBand.bass2"></h3>
                <h3>Bassist 3: <input name="9" type="text" class="form-control" #bassist3="ngModel" [(ngModel)]="newBand.bass3"></h3>
              </div>

              <div class="col-auto">
                <h3>Drummer: <input name="13" type="text" class="form-control" #drummer1="ngModel" [(ngModel)]="newBand.drums"></h3>
                <h3>Drummer 2: <input name="14" type="text" class="form-control" #drummer2="ngModel" [(ngModel)]="newBand.drums2"></h3>
                <h3>Drummer 3: <input name="15" type="text" class="form-control"#drummer3="ngModel" [(ngModel)]="newBand.drums3"></h3>
              </div>

              <div class="col-auto">
                <h3>Rhythm Guitar: <input name="16" type="text" class="form-control" #rGuitar1="ngModel" [(ngModel)]="newBand.rhythmGuitar"></h3>
                <h3>Rhythm Guitar 2: <input name="17" type="text" class="form-control"#rGuitar2="ngModel" [(ngModel)]="newBand.rhythmGuitar2"></h3>
                <h3>Rhythm Guitar 3: <input name="18" type="text" class="form-control"#rGuitar3="ngModel" [(ngModel)]="newBand.rhythmGuitar3"></h3>
              </div>

              <div class="col-auto">
                <h3>Keyboardist: <input name="19" type="text" class="form-control" #keyboard1="ngModel" [(ngModel)]="newBand.keyboard"></h3>
                <h3>Keyboardist 2: <input name="20" type="text" class="form-control" #keyboard2="ngModel" [(ngModel)]="newBand.keyboard2"></h3>
                <h3>Keyboardist 3: <input name="21" type="text" class="form-control" #keyboard3="ngModel" [(ngModel)]="newBand.keyboard3"></h3>
              </div>

              <div class="col-auto">
                <h3>Synthesizer: <input name="22" type="text" class="form-control" #synth1="ngModel" [(ngModel)]="newBand.synth"></h3>
                <h3>Synthesizer 2: <input name="23" type="text" class="form-control" #synth2="ngModel" [(ngModel)]="newBand.synth2"></h3>
                <h3>Synthesizer 3: <input name="24" type="text" class="form-control" #synth3="ngModel" [(ngModel)]="newBand.synth3"></h3>
              </div>

              <div class="col-auto">
                <h3>Saxophone: <input name="25" type="text" class="form-control" #sax1="ngModel" [(ngModel)]="newBand.saxophone"></h3>
                <h3>Saxophone 2: <input name="26" type="text" class="form-control" #sax2="ngModel" [(ngModel)]="newBand.saxophone2"></h3>
                <h3>Saxophone 3: <input name="27" type="text" class="form-control" #sax3="ngModel" [(ngModel)]="newBand.saxophone3"></h3>
              </div>
          </div>
          <div class="row p-2">

              <div class="col-auto">
                <h3>Album name: <input required name="30" type="text" class="form-control" #album1n="ngModel" [(ngModel)]="newAlbum1.name" [ngClass]="{'is-invalid':album1n.errors}"></h3>
                <h3>Year released: <input required name="31" type="number" class="form-control" #album1y="ngModel" [(ngModel)]="newAlbum1.year"[ngClass]="{'is-invalid': album1y.errors}"></h3>
              </div>
            <div class="col-auto">
              <h3>Album name: <input required name="32" type="text" class="form-control" #album2n="ngModel" [(ngModel)]="newAlbum2.name"[ngClass]="{'is-invalid': album2n.errors}"></h3>
              <h3>Year relased: <input required name="33" type="number" class="form-control" #album2y="ngModel" [(ngModel)]="newAlbum2.year" [ngClass]="{'is-invalid': album2y.errors}"></h3>
            </div>
            <div class="col-auto">
              <h3>Album name: <input required name="34" type="text" class="form-control" #album3n="ngModel" [(ngModel)]="newAlbum3.name" [ngClass]="{'is-invalid': album3n.errors}"></h3>
              <h3>Year relased: <input required name="35" type="number" class="form-control" #album3y="ngModel" [(ngModel)]="newAlbum3.year" [ngClass]="{'is-invalid': album3y.errors}"></h3>
            </div>
          </div>

        </form>

    </div>
  </div>






</div>


<!--      backup in case something goes wrong switching to divs     -->

<!--<ul>-->
<!--  <li *ngFor="let x of bands">-->
<!--    <h1 class="bandTitle">{{ x.name }}</h1>-->
<!--    <h3>Year Established: {{x.yearEstablished}}</h3>-->
<!--    <h3>Vocalist: {{x.vocalist}}</h3>-->
<!--    <h3 *ngIf="x.vocalist2 !== undefined; else empty">Vocalist 2: {{x.vocalist2}}</h3>-->
<!--    <h3 *ngIf="x.vocalist3 !== undefined; else empty">Vocalist 3: {{x.vocalist3}}</h3>-->
<!--    <h3 *ngIf="x.guitarist !== undefined; else empty">Guitarist: {{x.guitarist}}</h3>-->
<!--    <h3 *ngIf="x.guitarist2 !== undefined; else empty">Guitarist 2: {{x.guitarist2}}</h3>-->
<!--    <h3 *ngIf="x.guitarist3 !== undefined; else empty">Guitarist 3: {{x.guitarist3}}</h3>-->
<!--    <h3>Bass Guitar: {{x.bass}}</h3>-->
<!--    <h3>Drummer: {{x.drums}}</h3>-->
<!--    <h3 *ngIf="x.keyboard !== undefined; else empty">Keyboard: {{x.keyboard}}</h3>-->
<!--    <h3 *ngIf="x.keyboard2 !== undefined; else empty">Keyboard 2: {{x.keyboard2}}</h3>-->
<!--    <h3 *ngIf="x.keyboard3 !== undefined; else empty">Keyboard 3: {{x.keyboard3}}</h3>-->
<!--    <h3 *ngIf="x.synth !== undefined; else empty"> Synth: {{x.synth}}</h3>-->
<!--    <h3 *ngIf="x.synth2 !== undefined; else empty">Synth 2: {{x.synth2}}</h3>-->
<!--    <h3 *ngIf="x.synth3 !== undefined; else empty">Synth 3: {{x.synth3}}</h3>-->
<!--    <h3 *ngIf="x.saxophone !== undefined; else empty"> Saxophone: {{x.saxophone}}</h3>-->
<!--    <h3 *ngIf="x.rhythmGuitar !== undefined; else empty">Rhythm Guitar: {{x.rhythmGuitar}}</h3>-->
<!--    <h3 *ngIf="x.rhythmGuitar2 !== undefined; else empty">Rhythm Guitar 2: {{x.rhythmGuitar2}}</h3>-->

<!--    <h3 *ngFor="let i of x.albums"> Album: {{i.name}} Year: {{i.year}}</h3>-->

<!--    <ng-template #empty><h3></h3></ng-template>-->
<!--  </li>-->

<!--</ul>-->


