<!--<body *ngIf="load !== 6; else loadingMessage">-->
<body>
<ul>
  <li *ngFor="let instance of members">
    <h2>name: <span class="name">{{instance.name}}</span></h2>
    <p>username: <span class="username">{{instance.username}}</span></p>
    <p>member number:{{instance.memberNo}}</p>
  </li>
</ul>



<footer *ngIf="
members.length > 1; else elseBlock">
  There are {{members.length}} members in the VIP
</footer>
<ng-template #elseBlock>There is only 1 member in the VIP </ng-template>

</body>
<!--<ng-template #loadingMessage><h1 id="loadin">VIP Members loading</h1></ng-template>-->
