.name{
  font-weight: bold;
  text-decoration: underline;
}
.username{
  color: blue;
}
body{
  background-color: lightslategray;
}

#loadin{
  background-color: black;
  color: silver;
  border: teal;
}
