<div class="container">
  <h1>Posts:</h1>

  <!--  we want to pass that currentPost property into the form component as an INPUT
we have the OUTPUT (newPost)="onNewPost()"

*output is signified by ()
*input is signified by []-->

  <app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)" (updatedPost)="onUpdatedPost($event)"></app-post-form>
<!--  <div class="row">-->

<!--    <div class="col-6 POST" *ngFor="let x of posts">-->
<!--      <p class="text-center"><span class="ID">id: </span> {{x.id}}</p>-->
<!--      <p><span class="TITLE">title: </span> {{x.title}}</p>-->
<!--      <p><span class="BODY">body: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{x.body}}</p>-->
<!--      <hr>-->
<!--      <button class="btn btn-danger"><i class="fa fa-remove"></i></button>-->
<!--      <button class="btn btn-light"><i class="fa fa-pencil"></i></button>-->


<!--    </div>-->

<!--  </div>-->







  <div class="container">
    <div class="row">
      <mat-card *ngFor="let x of posts" class="example-card col-3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> {{ x.id }}</mat-card-title>
          <mat-card-subtitle> {{ x.title }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ x.body }}
          </p>
          <hr>
<!--          delete button-->
          <button (click)="removePost(x)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
<!--          edit button-->
          <button (click)="editPost(x)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
