<div><h1 class="text-center">Binding</h1></div>

<div class="text-center m-2"><button (click)="showHideForm()" class="btn btn-info btn-outline-warning btn-sm" >
  <i [ngClass]="enableAddUser ? 'fa fa-minus' : 'fa fa-plus'"></i> &nbsp; Add Character Form: &nbsp; <i [ngClass]="enableAddUser ? 'fa fa-minus' : 'fa fa-plus'"></i></button>
</div>

<form action="" class="p-2 m-2">
  <div class="row" *ngIf="enableAddUser">
    <div class="col-6 left text-right">
      <h4 class="font-weight-bold">SuperHero Name/Persona: <input (keyup)="fireEvent($event)" type="text" id="input-persona" class="form-control"></h4>
      <!--          (keydown), (blur), (focus)-->
      <h4 class="font-weight-bold">Last name: <input type="text" id="input-lastName" class="form-control"></h4>
      <h4 class="font-weight-bold">Active?: <input type="checkbox" id="input-active"></h4>
    </div>
    <div class="col-6 right text-right">
      <h4 class="font-weight-bold">First Name: <input type="text" id="input-firstName" class="form-control"></h4>
      <h4 class="font-weight-bold">Age: <input type="text" id="input-age" class="form-control"></h4>
      <p>Balance: <input type="number" id="input-balance" class="form-control"></p>
    </div>
  </div>
  <div class="row" *ngIf="enableAddUser">
    <div class="col-12 text-left">
      <p>Address:</p>
      <p>Street: <input type="text" id="input-street" class="form-control"></p>
      <p>City: <input type="text" id="input-city" class="form-control"></p>
      <p>State: <input type="text" id="input-state" class="form-control"></p>
    </div>
  </div>


</form>
<div class="text-center m-2"><button (click)="addCharacter($event)" class="btn-outline-dark btn-success btn-lg">SUBMIT</button></div>


<!--adding an event
syntax: (typeOfEvent)
we can pass in the event $event-->



<div class="container">
<!--  <button (click)="triggerEvent($event)">trigger event here</button>-->
<!--  <button (mouseover)="triggerEvent($event)">mouseover event here</button>-->
<!--  <button (mouseout)="triggerEvent($event)">mouseout event here</button>-->
<!--  <button (mousedown)="triggerEvent($event)">mousedown event here</button>-->
<!--  <button (mouseup)="triggerEvent($event)">mouseup event here</button> -->
<!--  <button (dblclick)="triggerEvent($event)">dblclick event here</button>-->






<!--  <button [disabled]="!enableAddUser" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>-->

  <ul class="list-unsorted">
    <li class="card card-body mb-3" *ngFor="let character of characters" [class.bg-info]="character.isActive">

      <div class="row">
        <div class="col-sm-4">
          <img class="img-fluid" [src]="character.img" alt="">
        </div>
        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle"> {{character.persona | uppercase}}

            <button (click)="toggleInfo(character)" class="btn btn-primary btn-sm" ><i [ngClass]="character.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button>

          </h1>
          <h3 [ngStyle]="currentStyle" > {{character.firstName}} {{character.lastName}}
            <button (click)="lodsofemone(character)" class="btn btn-success btn-sm">L O D S OF E M O N E</button>
          </h3>

          <ul class="list-group" *ngIf="character.hide">
            <li class="list-group-item">Age: {{character.age}}</li>
            <li class="list-group-item">Address: {{character.address.street}}, {{character.address.city}}, {{character.address.state}}</li>
            <div>
              <li class="list-group-item" *ngIf="character.balance">Balance: {{character.balance | currency}}</li>


              <li class="list-group-item" *ngIf="character.memberSince">Member Since:{{character.memberSince | date: 'MM/dd/yyyy'}}</li>


            </div>

          </ul>
        </div>

      </div>

    </li>
  </ul>

</div>


