<h1>Binding</h1>

<div class="container">
  <button [disabled]="!enableAddUser" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>
<!--  ngClass allows us to bind one or more css classes to any element-->

  <ul class="list-unsorted">
    <li class="card card-body mb-3" *ngFor="let character of characters" [class.bg-info]="character.isActive">

      <div class="row">
        <div class="col-sm-4">
<!--          bind our image-->
          <img class="img-fluid" [src]="character.img" alt="">
<!--          alternate-->
<!--          <img class="img-fluid" src="{{character.img}}}" alt="">-->

<!--          <img class="img-fluid" bind-src="character.img" alt="">-->

        </div>
        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle"> {{character.persona | uppercase}}</h1>
          <h3 [ngStyle]="currentStyle" > {{character.firstName}} {{character.lastName}}</h3>
          <ul class="list-group">
            <li class="list-group-item">Age: {{character.age}}</li>
            <li class="list-group-item">Address: {{character.address.street}}, {{character.address.city}}, {{character.address.state}}</li>
            <div *ngIf="character.balance || character.memberSince">
            <li class="list-group-item">Balance: {{character.balance | currency: "JPY":"code"}}</li>


<!--              ngNonBindable - makes an element disabled to binding data-->
<!--              <li class="list-group-item">Member Since:{{character.memberSince | date: 'MM/dd/yyyy'}}</li>-->
              <li class="list-group-item" ngNonBindable >Member Since:{{character.memberSince | date: 'MM/dd/yyyy'}}</li>
<!--            M = month m = minute-->


            </div>

          </ul>
        </div>

      </div>
    <li class="list group item" ngNonBindable>
      <pre> {{ 5 | number:"1.2}}</pre>

    </li>
  </ul>
</div>

