<!--<app-user></app-user>-->
<!--<app-hello></app-hello>-->
<!--<app-blog></app-blog>-->
<!--<app-users></app-users>-->

<!--<app-math></app-math>-->
<!--<app-vip></app-vip>-->
<!--<app-bands></app-bands>-->

<!--<app-material></app-material>-->

<!--<app-movies></app-movies>-->

<!--<app-binding></app-binding>-->

<!--<app-events></app-events>-->

<!--<app-ngmodel></app-ngmodel>-->

<!--<app-post-http-client></app-post-http-client>-->

<!--<app-post-form></app-post-form>-->

<app-navbar></app-navbar>

<!--most important thing for our routing-->
<router-outlet></router-outlet>
