<!--<h3>Name: {{ user[0].firstName }} {{ user[0].lastName }}</h3>-->
<!--<h3>Age: {{ user[0].age }}</h3>-->
<!--<p>{{ greeting() }}</p>-->

<!-- Template syntax
structural directives
*ngIf - creates conditionals in our templates
*ngFor - used to loop through an array

Add logic into our template
every structural directive needs to have the asterisk
-->

<ul>
  <li *ngFor="let user of users">
    <h3>Full Name: {{user.firstName}} {{user.lastName}}</h3>
    <p>Age: {{ user.age}}</p>
  </li>
</ul>
