<!--<h1>String interpolation</h1>-->
<!--<p>a way to bind data to the template from our component</p>-->
<!--<p>Syntax: </p>-->

<!--&lt;!&ndash;example of impractical use of string interpolation&ndash;&gt;-->
<!--<h3>{{'Hello and good day'}}</h3>-->
<!--<p>{{ 5 * 6 / 2}}</p>-->


<!--&lt;!&ndash;usually want to use string interpolation to output properties-->
<!--basically allows us ti have "variables" inside of our template&ndash;&gt;-->

<!--<h1>Top Athletes:</h1>-->
<!--<h3>Name: {{ this.athletes.name }}</h3>-->

<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    <h3>{{a.name}}</h3>-->
<!--    <ul>-->
<!--      <li>team: {{a.team}}</li>-->
<!--      <li>jersey {{a.jerseyNumber}}</li>-->
<!--    </ul>-->
<!--    <ul>-->

<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
