
<h3>Jane Doe</h3>
<p>Angular app project notes</p>


<!--String interpolation

a way to bind our data to the template (html file) from our component (ts)
  Syntax:
  {{ expression }}
-->

{{ 'Hello World from User Component template' }}
{{(5*5)+2-1}}
<h3>{{"Charlie Cohort Rocks!"}}</h3>
<p>{{ 5*100}}</p>


<!--
Binding properties with our template using string interpolation

-->
<h2>Full Name: {{ fname }} {{ lname }}</h2>
<p>Age: {{ age }}</p>
<h3>{{ greeting()}}</h3>
