<h1>add a post</h1>
<div class="card-body mb-3">
    <form>
      <div class="form-group">
        <label>Title</label>

        <input [(ngModel)]="currentPost.title" type="text" name="title" id="title" class="form-control" #title >

        <label>Body</label>
        <input [(ngModel)]="currentPost.body" type="text" name="body" id="body" class="form-control" #body >

<!--        without this there will be an error -->
        <input type="hidden" [(ngModel)]="currentPost.id" name="id">
      </div>

      <button (click)="addPost(title.value, body.value)" class="btn btn-danger btn-block" *ngIf="!isEdit">Submit Post
      </button>

      <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-warning btn-block">Update Post</button>

    </form>
</div>
