.button{
  background-color: gold;
  color: green;
  border-radius: 8px;
  font-size: 48px;
}

td{
  font-size: 48px;
  color: navy;
  background-color: lightslategray;
  border: darkgreen 4px solid;
  border-radius: 32px;
  margin: 4px;
  padding: 16px;
  text-align: center;
}
table{
  padding: 4px;
  margin: 4px;
}

