<!--<input type="button" value="addition" class="button" id="add"> &nbsp; &nbsp; <input type="button" value="subtraction" class="button" id="minus">-->
<!--<br><br><hr><br>-->
<!--<input type="button" value="multiplication" class="button" id="times"> &nbsp; <input type="button" value="division" class="button" id="divide">-->


<table>
  <tr>
    <td>{{ addition(6,14)}}</td>
    <td>{{subtraction(35,22)}}</td>
  </tr>
  <tr>
    <td>{{ multiplication(27,2)}}</td>
    <td>{{division(81,3)}}</td>
  </tr>
</table>
